.card-container {
  flex-basis: 180px;
  max-width: 180px;
  height: 180px;
  margin-top: 12px;
  padding: 0;
  border: 3px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
}

.card-overlay {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: #ddd;
  /* z-index: 1; */
}

.card-bg {
  position: absolute;
  width: 180px;
  height: 180px;
  /* z-index: 0; */
}